/* css for header */
a {
  text-decoration: none;
}

.container h1 {
  text-align: center;
  color: black;
}

h2 {
  text-align: center;
  color: green;
}
.container:hover {
  background-color: rgba(240, 230, 230, 0.753);
  padding: 2px;
}

.linh1 {
  background-color: greenyellow;
}

.linh2 {
  margin-top: 3px;
}

/* css main */
.tronglinh {
  line-height: 0.5px;
}
